<div id="aurum">
    <img id="logo" src="%BASE_URL%assets/logo128px.webp">
    <h1 class="aurum-name">Aurum</h1>
</div>
<nav>
    <a href="%BASE_URL%">Home</a>
    <a href="%BASE_URL%financas/">Finanças</a>
    <a href="%BASE_URL%sobre/">Sobre</a>
    <div id="buttons">
        <button id="entrar-button" onclick="window.location.href='%BASE_URL%entrar/'"><img src="%BASE_URL%assets/icons/accounticon.svg">Entrar</button>
        <button id="sair-button" class="button-secondary"><img src="%BASE_URL%assets/icons/logout.svg">Sair</button>
    </div>
</nav>